<!doctype html>
<html lang="en">
<head>
<title>CS 100 Project</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="styles.css">
</head>
<html>
   <body>
      <div id="mySidenav" class="sidenav">
          <div class="content" style = "padding: 6px 10px 0px 20px;">
            <div class="box" style = "padding: 0px;">
              <a href="javascript:void(0)"  onclick="closeNav()">&times;
                  </a>
            </div>
        <span style="display:inline-block; width: 1px;"></span>
              <div class="box" style = "padding: 0px; height: 80%">
                  <a href="index.html">Home</a>
                  <a href="locations.html">Map</a>
                  <a href="map.html">Find</a>
                  <a href="rating.html">Rate</a>
              </div>
          </div>
    </div>
   <div id="main" class="content">
            <div class="topnav">
            <a onclick="openNav()">&#9776;</a>
              <b>
                  Hello, {{ name }}, Welcome to ???App
              </b>
          </div> 
           <br>
                <div class="box">

                    <h1>404 Page Not Found</h1>
                     <p>Sorry...</p>
                    <br>
                    
                    <br>
                    <!-- <h2><a href = "\">go back to home page</a></h2> -->
<button onclick="location.href='index.html'" class="button" style="background-color: white; color: #98aabb;">Return Home</button>
                    <br>
           </div>
       </div>
       
       
           <script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}

</script>
       
   </body>
</html>
